@{
    ViewData["Title"] = "About";
}

<!-- Link to the specific CSS file for this view -->
<link rel="stylesheet" href="~/css/style-about.css" />

<h1>@ViewData["Title"]</h1>

<div class="about-content">
    <p>This is a website for an assignment and only for learning purposes.</p>
    <br>
    <p>Assignment detail: COMP2084 Assignment 2</p>
    <p>GitHub repository: <a href="https://github.com/marcosmota5/COMP2084Assignment2_ContactManagerApp" title="GitHub Repository">COMP2084Assignment2_ContactManagerApp</a></p>
    <br>
    <h3>Students:</h3>
    <div class="students-section">
        <!-- Divs for students -->
        <div class="student-card">
            <img src="~/images/marcos-mota.png" alt="Student Picture">
            <div class="student-card-content">
                <h2>Marcos Oliveira Mota</h2>
                <p class="student-id">Id: 200564426</p>
                <p>Portfolio: <a href="https://www.marcosmota.tech/portfolio">marcosmota.tech</a></p>
                <p>Follow Me: <a href="https://www.linkedin.com/in/marcosmota5">LinkedIn</a></p>
            </div>
        </div>
        <div class="student-card">
            <img src="~/images/natalia-dias.png" alt="Student Picture">
            <div class="student-card-content">
                <h2>Natália Dias</h2>
                <p class="student-id">Id: 200587841</p>
                <p>Portfolio: <a href="https://github.com/200587841">GitHub</a></p>
                <p>Follow Me: <a href="https://www.linkedin.com/in/natalia-selestrini/">LinkedIn</a></p>
            </div>
        </div>
        <div class="student-card">
            <img src="~/images/sergio-cutrim.png" alt="Student Picture">
            <div class="student-card-content">
                <h2>Sergio Cutrim Gouveia</h2>
                <p class="student-id">Id: 200579843</p>
                <p>Portfolio: <a href="https://github.com/sergiocutrim">GitHub</a></p>
                <p>Follow Me: <a href="https://www.linkedin.com/in/sergiocutrimgouveia/">LinkedIn</a></p>
            </div>
        </div>
        <div class="student-card">
            <img src="~/images/aynur-vuran.png" alt="Student Picture">
            <div class="student-card-content">
                <h2>Aynur Vuran</h2>
                <p class="student-id">Id: 200577768</p>
                <p>Portfolio:</p>
                <p>Follow Me: <a href="https://www.linkedin.com/in/aynur-vuran/">LinkedIn</a></p>
            </div>
        </div>
    </div>
    <br>
    <p>Thanks to the creators of the following images:</p>
    <ul>
        <a href="https://www.flaticon.com/free-icons/contacts" title="contacts icons">Contacts icons created by meaicon - Flaticon</a>
    </ul>
 
</div>